rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function validateCreatePostRequest() {
      let fields = ['caption', 'photoURL', 'datePosted', 'author'];
      return request.auth != null
        && request.resource.data.keys().hasAll(fields)
        && request.resource.data.keys().hasOnly(fields)
        && request.resource.data.datePosted == request.time
        && request.resource.data.author.id == request.auth.uid
        && request.resource.data.author.displayName == request.auth.token.name;
    }

    match /posts/{post} {
      allow read;
      allow create: if validateCreatePostRequest();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
