rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function validateCreatePhotoRequest() {
      return request.auth != null
        && request.resource.metadata.owner == request.auth.uid
        && request.resource.contentType.matches('image/.*');
    }

    match /photos/{photo} {
      allow read;
      allow create: if validateCreatePhotoRequest();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
