rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function validateCreatePhotoRequest(user) {
      return request.auth != null
        && user == request.auth.uid
        && request.resource.contentType.matches('image/.*');
    }

    function validateDeletePhotoRequest(user) {
      return request.auth != null && user == request.auth.uid;
    }

    match /photos/{user}/{photo} {
      allow read;
      allow create: if validateCreatePhotoRequest(user);
      allow delete: if validateDeletePhotoRequest(user);
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
