.AuthPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20rem;
}

img {
  display: block;
  width: 65%;
  margin: 0 auto;
}

.AuthFooter {
  margin-top: 1rem;
}

.AuthFooter a {
  font-weight: 700;
  color: var(--primary);
}
