*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  --primary: #60a5fa;
  --danger: #ef4444;
  --white: #fff;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-transparent: rgba(17, 24, 39, 0.5);

  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--gray-900);
  background-color: var(--gray-50);
}

a,
input,
button {
  font: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

input:disabled,
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
